@import "configuration-import";
@import "variables";

$custom-theme-colors: map-merge($theme-colors, ("primary": $primary, "danger" :$danger, "secondary": $secondary, "blue": $blue, "lightblue": $lightblue, "bc-blue": $bc-blue) );

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text",);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
@import 'bootstrap';
/* custom.scss */

html, body, .dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

#toolbar-administration {
  position: fixed;
  z-index: 1033;
}

.toolbar-fixed .fixed-top, .toolbar-tray-open .textlogo {
  padding-top: 39px !important;
}

body.toolbar-tray-open {
  padding-top: 79px!important;
}

.toolbar-tray-open .fixed-top, .toolbar-tray-open .textlogo {
  padding-top: 79px !important;
}

.toolbar-tray-open .overlay-btn {
  padding-top: calc(79px + 0.95em);
}

.toolbar-tray-open .change:after {
  padding-top: calc(79px + 0.5em);
}

#drupal-off-canvas-wrapper {
  z-index: 1035;
}
  
body .fixed-top {
  padding: 0;
}
  
.toolbar-tray-open .fixed-top .navigation_col .action-menu {
  margin-top: 4.3em;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.img-adaptive {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.w-33 {
  width: 33%!important;
}

.w-66 {
  width: 66%!important;
}

.min-h-100 {
  min-height: 100%;
}

.min-vh-75 {
  min-height: 75vh!important;
}

.min-vh-50 {
  min-height: 50vh!important;
}

.min-vh-25 {
  min-height: 25vh!important;
}

.mx-10 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.px-10 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.py-10 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.my-10 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

body {
  color: #535454;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
  
.lead {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 300;
  color: $primary;
}

.btn, .btn-lg, .btn-sm {
  border-radius: 2rem;
}

.path-frontpage .navbar-nav .nav-link {
  color: $white;
}

.path-frontpage .navbar-nav .nav-link:hover {
  color: $danger;
}

.path-frontpage .navbar-nav .nav-link.normText {
  color: #777;
}

.path-frontpage .overlay-btn {
  color: $white;
}

.path-frontpage .overlay-btn:hover {
  color: $danger;
}

.path-frontpage .overlay-btn.normText {
  color: #777;
}

.navbar-nav>li>a.is-active, .navbar-nav>li>a.is-active:hover, .navbar-nav>li>a.is-active:focus {
  background-color: $gray-200;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar > .container-fluid {
  padding: 0;
}

.wavelogo {
  height: 11em;
  background: $white;
  position: absolute;
  border-bottom-right-radius: 4%;
  z-index: 1032;
  width: 11.7em;
  opacity: 1;
}

.path-frontpage .wavelogo {
  background: transparent;
}

.wavelogo img {
  position: relative;
  top: 0.5em;
}

.waveupper, .wavelower {
  position: relative;
}

.textlogo {
  background: transparent;
  position: fixed;
  width: 9.75em !important;
  height: auto;
  border-bottom: none;
  z-index: 1031;
}

.uppercurve {
  height: 7.35em;
  left: 11em;
  z-index: 1032;
  position: relative;
  top: 3.65em;
}

.curve-down {
  width: 8em;
  height: 6.585em;
  right: 6.5em;
  position: relative;
  bottom: -0.25em;
  margin-top: -7.9em;
  z-index: 10;
  pointer-events: none;
}

.footer-curve {
  width: 100%;
  right: -1.6em;
  position: relative;
  bottom: 0;
  margin-top: -7.2em;
}

.bg-white .navbar-collapse {
  z-index: 100;
  background: $white;
}

.home-slider-height {
  height: 100%;
  background-color: $primary;
  min-height: 32em;
  position: relative;
}

.carousel-text-shadow {
  text-shadow: 1px 1px 1px $black;
}

#carousel-fade .carousel-inner .carousel-item:nth-child(1) {
  background-repeat: no-repeat;
  background-color: rgb(9, 107, 50);
  height: 100%;
}

#carousel-fade .carousel-inner .carousel-item:nth-child(2) {
  background-repeat: no-repeat;
  background-color: #012e58;
  height: 100%;
}

#carousel-fade .carousel-inner .carousel-item:nth-child(3) {
  background-repeat: no-repeat;
  background-color: #012e58;
  height: 100%;
}

#carousel-fade .carousel-inner .carousel-item:nth-child(4) {
  background-repeat: no-repeat;
  background-color: #012e58;
  height: 100%;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  text-align: left;
  text-shadow: none;
  display: inline-block;
}

.page-title h1 {
  font-size: 3rem;
}

.video-overlay {
  background: rgb(0,42,91);
  background: linear-gradient(180deg, rgba(0,42,91,0.25) 33%, rgba(0,42,91,0.5) 50%, rgba(0,0,0,0.75) 66%, rgba(0,0,0,0.9) 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.media-carousel-block {
  position: relative;
  z-index: 2;
}

.shadow-container {
  width: 100%;
  background-color: transparent;
  position: relative;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom: 0;
  padding-top: 0;
}

.slider-links {
  padding-top: 2.5em;
}

.slider-links li {
  padding: 0.25em 0;
}

.slider-tab-btn {
  display: flex;
  border-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0.3rem 0.75rem;
}

.icons-col-placement {
  bottom: 8em;
  position: relative;
}

.icon-link.active {
  color: $white;
  border: 3px solid #338FBC;
  background-color: transparent;
}

a.icon-link {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  --bs-btn-padding-y: 0.3rem;
  border: 3px solid $primary;
}

a.icon-link:hover {
  border: 3px solid #338FBC;
  border-bottom: 3px solid #338FBC;
}

.icon-link i {
  color: $primary;
}

.icon-link.active i {
  color: #338FBC;
}

a.icon-link i {
  font-size: 2em;
  line-height: normal;
}

a.icon-link:hover {
  color: $white;
  cursor: pointer;
}

.controls {
  list-style: none;
  margin: 0;
}

.controls li {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid #e5e5e7;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 30%);
  opacity: 0.7;
  background-color: #ffffff;
  width: 4.5%;
  height: 11.5%;
}

.controls li:hover {
  color: rgba(0,0,0,0.5);
  opacity: 1;
  cursor: pointer;
}

.next {
  left: 1em;
  right: auto;
  position: absolute;
  top: 35%;
  z-index: 10;
}

.prev {
  right: 1em;
  left: auto;
  position: absolute;
  top: 35%;
  z-index: 10;
}

.prev i, .next i {
  font-size: 2.5em;
}

.next i {
  left: 18%;
  position: relative;
  top: 8%;
}

.prev i {
  position: relative;
  right: -28%;
  top: 8%
}

.footer-curve-block {
  width: 100%;
  height: 6.185em;
  background: $secondary;
  position: absolute;
  bottom: 0.55em;
  background-attachment: fixed;
}

.svg-white {
  filter: brightness(0) invert(1);
}

.bg-transparent {
  background-color: transparent;
  background: transparent;
  color: $white;
}

.overlay-btn {
  float: right;
  margin-right: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  color: #535454;
  padding: 0.95em 1.1em;
  text-decoration: none;
  z-index: 1036;
  border-top: 4px solid transparent;
  border-bottom: none;
  cursor: pointer;
}

.overlay-btn:hover, .overlay-btn:focus {
  border-top: 4px solid $danger;
  border-bottom: none;
  color: #333;
  text-decoration: none;
}

.overlay-btn:focus {
  border-bottom: none;
  color: #535454;
  text-decoration: none;
}

.search-btn, .share-btn {
  cursor: pointer;
}

ul.resource-cats, ul.product-cats, ul.about-us-cats {
  background: none;
  overflow: visible;
}

a {
  color: $danger;
}

a.no-dash{
  border-bottom: none;
}

a.no-dash:hover{
  border-bottom: none;
}

a.text-white {
  color: $gray-200;
}

a.black-text {
  color: $black;
}

a.blue-text {
  color: $blue;
}

a.lightblue-text {
  color: $lightblue;
}

.darkgrey-background a {
  color: $white;
}

.darkgrey-background a:hover {
  color: $gray-200;
}

.text-bg-primary {
  background-color: $primary;
  color: $white;
}

.testhouse-background {
  background-image: url(https://static.aesseal.com/photo/sustainability/Testhouse_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}

blockquote::before {
  content: url(/themes/contrib/aesbase/assets/images/graphics/blockquote-top.png);
  margin-right: -0.75em;
  z-index: -1;
  position: absolute;
  left: -2.8rem;
  top: -1.9rem;
}

blockquote::after {
  content: url(/themes/contrib/aesbase/assets/images/graphics/blockquote-bottom.png);
  position: absolute;
  margin-left: -0.5rem;
  z-index: -1;
}

blockquote {
  color: $blue;
  padding: 0;
  border: none;
  font-size: inherit;
  position: relative;
  margin: 3% 15%;
  z-index: 1;
}

.enquiry-icon {
  color: $white;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: $danger;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1032;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
  cursor: pointer;
  text-decoration: none;
}

.enquiry-icon:hover {
  color: #e5e5e7;
  background-color: $lightblue;
}

.breadcrumb li {
  transform: skew(-25deg);
  color: $bc-blue;
  background-color: rgba(9, 20, 44, 1);
  display: inline-block;
  margin: 0.3em 0 0 0.4em;
  word-break: break-word;
  overflow-wrap: break-word;
}

.breadcrumb-item+.breadcrumb-item {
  padding: 0;
}

.breadcrumb-item+.breadcrumb-item:before {
  padding: 0;
  color: #4c698c;
  content: " ";
  transform: skew(0);
}

.breadcrumb li>a {
  transform: skew(25deg);
  color: $bc-blue;
  display: inline-block;
  padding: 9px;
  border-bottom: none;
  text-decoration: none;
}

.breadcrumb li>a:hover {
  display: inline-block;
  color: $white;
  border-bottom: none;
}

.z-index {
  z-index: 2;
}

.navbar-nav li a {
  display: block;
  color: #535454;
  padding: 0.95em 1.1em;
  text-decoration: none;
}
  
.navbar-nav li a:hover {
  color: $danger;
  margin-bottom: 0;
  border-bottom: 1px dashed $danger;
  text-decoration: none;
  background-color: $gray-200;
}
  
.navbar-nav li a.active {
  color: $primary;
  background-color: $gray-200;
}

.navbar-nav>li>a {
  border-top: 4px solid transparent;
  border-bottom: none;
}
  
.navbar-nav>li>a:hover {
  border-top: 4px solid $danger;
  border-bottom: none;
}

.darkgrey-background {
  background: #888C8F;
  color: $white;
  padding: 1em 0.5em 1em 0.5em;
}

.midgrey-background {
  background: $secondary;
  color: $white;
  padding: 10px 15px;
}

.socialmedia {
  width: 100%;
  height: 7.57em;
  background: #fafafa;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.lower-wave {
  width: 100%;
  height: 7.65em;
  background: #fafafa;
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: end;
  align-items: end;
}

.socialmedia ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  right: 1em;
}

.socialmedia li a {
  border-bottom: none;
}

.footer-social-icons {
  font-size: 2.5em;
  position: relative;
  z-index: 10;
  align-items: center;
  margin-bottom: 1.5em;
}

.fa-25x {
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(1) a {
  color: #1da1f2;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(1) a:hover {
  color: #1a90d9;
}

.socialmedia ul li:nth-child(2) a {
  color: #0077b5;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(2) a:hover {
  color: #006ba2;
}

.socialmedia ul li:nth-child(3) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(3) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(4) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(4) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(5) a {
  color: $primary;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(5) a:hover {
  color: $lightblue;
}

.socialmedia ul li:nth-child(6) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(6) a:hover {
  color: #bd4030;
}

.social-id {
  position: absolute;
  top: 4.8em;
  z-index: 2;
  width: 100%;
}

.fade_text {
  color: #535354;
  display: none;
}

.social-id p:nth-child(1) {
  right: 28%;
  position: absolute;
}

.social-id p:nth-child(2) {
  left: 18%;
  position: absolute;
}

.dotted-border {
  outline: 1px dashed #888c8f;
  padding: 1em 0.5em 1em 0.5em;
}

.image-highlight {
  text-align: center;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color .5s;
  background-color: #fcfcfc;
  background: -moz-linear-gradient(top, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background: -webkit-linear-gradient(top, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background: linear-gradient(to bottom, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black;
  padding: 0;
}

.image-highlight:hover {
  background: -moz-linear-gradient(top, $white 0, $white 70%, $white 100%);
  background: -webkit-linear-gradient(top, $white 0, $white 70%, $white 100%);
  background: linear-gradient(to bottom, $white 0, $white 70%, $white 100%);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22)
}

.blend-mode-multiply {
  mix-blend-mode: multiply;
  transform: translate3d(0,0,0);
}

.country-icon {
  max-height: 2em;
  max-width: 2em;
}

.social-flag {
  height: 1em;
  width: 1em;
  position: relative;
}

.path-frontpage .scroll-nav {
  background: transparent;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}

.path-frontpage .shadow-back {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.shadow-back {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.scroll-nav {
  position: fixed;
  transform: translateY(-105%);
  z-index: 1031;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.path-frontpage .scroll-nav {
  transform: translateY(105%);
}

.path-frontpage .scrolled-down {
  transform: translateY(-210%);
  transition: all 0.3s ease-in-out;
}

.path-frontpage .scrolled-up {
  transform: translateY(105%);
  transition: all 0.3s ease-in-out;
}

.scrolled-down {
  transform: translateY(-210%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.75s;
  z-index: -1;
}

.scrolled-up {
  transform: translateY(-107%);
  transition: all 0.3s ease-in-out;
}

.modal-backdrop {
  height: 0;
}

.modal.fade {
  transition-delay: 0.45s;
}

.modal.in.modal-dialog {
  -webkit-transform: translate(0, 4%);
  -ms-transform: translate(0, 4%);
  -o-transform: translate(0, 4%);
  transform: translate(0, 4%);
}

.modal-backdrop.show, .offcanvas-backdrop.show {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
  transition: 0.5s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  z-index: 1028
}

.modal .close {
  color: $white;
  position: fixed;
  font-size: 3em;
  float: right;
  z-index: 1032;
  top: 1.5em;
  right: 1.2em;
  height: 1em;
  width: 1em;
  transition: 0.5s;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  font-weight: normal;
  background: none;
  border: none;
}

.modal .close:hover {
  color: $danger;
  text-shadow: none;
  opacity: 1;
  font-weight: normal;
}

.modal-content {
  top: 10em;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.modal-open .modal {
  z-index: 1029;
}

.overlay-btn {
  float: right;
  margin-right: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  color: #535454;
  padding: 0.7em 1.1em;
  text-decoration: none;
  z-index: 1036;
  border-top: 4px solid transparent;
  border-bottom: none;
  cursor: pointer;
}

.footer-overlay-btn {
  color: $white;
  cursor: pointer;
  border-bottom: 1px dashed #888c8f;
}

.overlay-btn:hover, .overlay-btn:focus {
  border-top: 4px solid $danger;
  border-bottom: none;
  color: #333;
  text-decoration: none;
}

.overlay-btn:focus {
  border-bottom: none;
  color: #535454;
  text-decoration: none;
}

ul.resource-cats, ul.product-cats, ul.about-us-cats {
  background: none;
  overflow: visible;
}

.overlay-content {
  background-color: none;
  position: static;
}

.overlay-main, .search-overlay, .share-overlay {
  height: 1px;
  bottom: -1px;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  position: fixed;
  z-index: 100;
  inset: 0;
  overflow-y: scroll;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: block;
  overscroll-behavior: contain;
}

.overlay-menu {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.search-overlay .form-control {
  width: 85%;
  margin-right: 1em;
}

.search-overlay p {
  color: $white;
}

.search-overlay small {
  color: #e5e5e7;
}

.search-overlay span {
  color: $white;
}

.search-overlay .lead {
  color: $white;
}

.search-overlay .ais-RefinementList-item {
  color: $white;
}

.search-result{
  padding: 1em 0.5em;
  border-bottom: 2px solid #e5e5e7;
  display: flex;
  flex-flow: column;
}

.ais-RefinementList-checkbox {
  margin-right: 5px;
}

.ais-Pagination-list {
  margin: 20px 0;
  border-radius: 4px;
  justify-content: center;
}

.ais-Pagination-list>li, .ais-Pagination-list>span {
  padding: 6px 12px;
  border: 1px solid #eee;
  background-color: #fff;
  color: $danger;

}

.ais-Pagination-list>li:first-child, .ais-Pagination-list>li:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ais-Pagination-list>li:last-child, .ais-Pagination-list>li:last-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.change {
  color: transparent;
  pointer-events: none;
}

.overlay-menu  {
  display: none;
}

.change:hover, .change:focus {
  color: transparent;
  border-bottom: none;
  pointer-events: none;
  cursor: pointer;
}

.overlay-menu .action-menu {
  z-index: 1030;
  background-color: transparent;
}

.full-menu {
  width: 100%;
}

ul.resource-cats a, ul.about-us-cats a {
  font-size: 1em;
  text-align: left;
}

.overlay-content ul li {
  float: none;
  display: block;
}

.overlay-content h4 {
  color: $white;
}

.overlay-main.active {
  height: 100%;
}

.overlay-main a:hover {
  transform: scale(1.1);
  overflow: visible;
  color: $danger;
}

.overlay-content {
  position: relative;
  top: 26%;
  width: 100%;
  text-align: left;
  height: 60vh;
}

.sitemap-icon {
  position: absolute;
  bottom: 0%;
  right: 4%;
}

.noscroll {
  overflow-y: hidden;
}

.noscroll .action-menu {
  position: fixed;
  top: 3em;
}

.overlay-main a {
  text-decoration: none;
  color: $white;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 2em;
  line-height: 1.3em;
}

.change:after {
  display: block;
  content: "\00d7";
  color: $white;
  position: fixed;
  font-size: 3em;
  float: right;
  z-index: 1032;
  top: 2em;
  right: 1em;
  height: 1em;
  width: 1em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: auto;
  cursor: pointer;
}

.social-box {
  position: relative;
}

.overlay-red {
  background: $danger;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -moz-transition: opacity, .3s;
  -o-transition: opacity, .3s;
  -webkit-transition: opacity, .3s;
  transition: opacity, .3s;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.overlay-red:hover {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.overlay-caption {
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay-link p {
  opacity: 1;
  color: $white;
}

.hover-grow {
  transition: transform .2s ease-in-out
}

.hover-grow:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.hover-grow-2 {
  transition: transform .2s ease-in-out
}

.hover-grow-2:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.change:hover:after {
  color: $danger;
}

.list-row {
  min-height: 135px;
  clear: right;
  border-bottom: 1px #f5f5f5 solid;
  overflow: hidden;
  width: 100%;
}

.css-fade {
  position: relative;
  background-color: $secondary;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.css-fade-linkedin {
  background-image: url('https://static.aesseal.com/graphics/linkedin-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-instagram {
  background-image: url('https://static.aesseal.com/graphics/instagram-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-youtube {
  background-image: url('https://static.aesseal.com/graphics/youtube-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-twitter {
  background-image: url('https://static.aesseal.com/graphics/twitter-panel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.card:hover .css-fade-twitter,
.card:hover .css-fade-youtube,
.card:hover .css-fade-linkedin,
.card:hover .css-fade-instagram {
  opacity: 0;
}

.css-fade-twitter:hover,
.css-fade-instagram:hover,
.css-fade-youtube:hover,
.css-fade-linkedin:hover {
  opacity: 0;
}

.banner-fade{
  animation: bannerFadeOut 7.25s;
  -webkit-animation: bannerFadeOut 7.25s;
  -moz-animation: bannerFadeOut 7.25s;
  -ms-animation: bannerFadeOut 7.25s;
  -o-animation: bannerFadeOut 7.25s;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  background-color: $primary;
  filter: grayscale(100%);
}

.mono-filter {
transition: 0.8s;
filter: grayscale(1);
}

.mono-filter:hover, .sustain-nav li.active .mono-filter {
  filter: grayscale(0);
}

.sustain-nav li a {
  padding: 0;
}

.sustain-nav {
  border-bottom: none;
}

.sustain-nav li a:hover {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  border-color: transparent;
}

.sustain-nav>li>a>img {
  max-width: 100%;
}

.sustain-nav li.active, .sustain-nav li.active:hover {
  opacity: 1;
  border: none;
}

.sustain-nav>li.active>a, .sustain-nav>li.active>a:focus, .sustain-nav>li.active>a:hover {
  border: none;
}

.reveal[aria-expanded="true"] {
  display: none;
}

.reveal[aria-expanded="false"]~.full-details {
  display: none;
}

.reveal[aria-expanded="true"] {
  display: none;
}

.reveal[aria-expanded="true"]~.full-details {
  display: block;
}

.hover-grow {
  transition: transform .2s ease-in-out
}

.hover-grow:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.hover-grow-2 {
  transition: transform .2s ease-in-out
}

.hover-grow-2:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.search-block {
  display: flex;
}

.carousel-control-next {
  background-image: none;
}

.carousel-control-prev {
  background-image: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 3em;
  width: 3em;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 50%;
  background: #e5e5e7;
  color: #535354;
  opacity: 0.7;
}

.carousel-control-next-icon:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f054";
  font-weight: 900;
  font-size: 2em;
}

.carousel-control-prev-icon:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f053";
  font-weight: 900;
  font-size: 2em;
}

.social-items {
  position: relative;
}

.social-items a {
  border-bottom: none;
}

.social-items .item-1, .social-items .item-2, .social-items .item-3 {
  display: block;
  height: 100%;
  width: 100%;
}

.grid-1 .item-1, .grid-3 .item-1, .grid-5 .item-1, .grid-8 .item-1, .grid-10 .item-1, .grid-12 .item-1 {
  z-index: 3;
  position: relative;
  animation: fade 20s linear infinite forwards;
  opacity: 0;
}

.grid-1 .item-2, .grid-3 .item-2, .grid-5 .item-2, .grid-8 .item-2, .grid-10 .item-2, .grid-12 .item-2 {
  z-index: 2;
  position: absolute;
  inset: 0;
  animation: fade 20s linear infinite forwards;
  opacity: 0;
  animation-delay: 6.666s;
}

.grid-1 .item-3, .grid-3 .item-3, .grid-5 .item-3, .grid-8 .item-3, .grid-10 .item-3, .grid-12 .item-3 {
  z-index: 1;
  position: absolute;
  inset: 0;
  animation: fade 20s linear infinite forwards;
  opacity: 0;
  animation-delay: 13.333s;
}

.grid-2 .item-1, .grid-4 .item-1, .grid-6 .item-1, .grid-7 .item-1, .grid-9 .item-1, .grid-11 .item-1 {
  z-index: 3;
  position: relative;
  animation: fade2 20s linear infinite forwards;
  opacity: 1;
  animation-delay: 8s;
}

.grid-2 .item-2, .grid-4 .item-2, .grid-6 .item-2, .grid-7 .item-2, .grid-9 .item-2, .grid-11 .item-2 {
  z-index: 2;
  position: absolute;
  inset: 0;
  animation: fade2 20s linear infinite forwards;
  opacity: 0;
  animation-delay: 14.666s;
}

.grid-2 .item-3, .grid-4 .item-3, .grid-6 .item-3, .grid-7 .item-3, .grid-9 .item-3, .grid-11 .item-3 {
  z-index: 1;
  position: absolute;
  inset: 0;
  animation: fade2 20s linear infinite forwards;
  opacity: 0;
  animation-delay: 21.333s;
}

.hs-recaptcha {
  padding-top: 1em;
  padding-bottom: 1em;
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  -moz-transform: scale(0.77);
  -o-transform: scale(0.77);
  transform-origin: 0;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -moz-transform-origin: 0;
}

.hs-overlay-form .hs-input:not([type=file]) {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 15px;
  width: 100%;
}

.hs-overlay-form.hs-custom-style fieldset {
  padding: 0.5em;
}

.hs-overlay-form .hs-richtext {
  color: #ffffff;
}

.hs-overlay-form .grecaptcha-badge {
  float: right;
}

.hs-overlay-form .hs-form-checkbox-display span {
  margin-left: 10px;
}

.views-exposed-form {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  background-color: #e5e5e7;
  border: 1px solid #e3e3e3;
  padding-top: 1rem;
}

.views-exposed-form .form-item {
  display: inline-flex;
}

.views-exposed-form .form-item .form-label {
  margin-right: 1rem;
  align-self: center;
}

.views-exposed-form .form-item .form-select {
  width: fit-content;
  margin-right: 1rem;
}

@keyframes fade {
  0%{
    opacity: 0;
    z-index: 1;
    visibility: hidden;
  }

  3% {
    opacity: 1;
    z-index: 3;
    visibility: visible;
  }

  31% {
    opacity: 1;
    z-index: 3;
    visibility: visible;
  }

  35% {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
  }

}

@keyframes fade2 {
  0% {
    opacity: 0;
    z-index: 3;
    visibility: visible;
  }

  3% {
    opacity: 1;
    z-index: 3;
    visibility: visible;
  }

  31% {
    opacity: 1;
    z-index: 3;
    visibility: visible;
  }

  35% {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
  }

}

.gallery-box:hover img{
  transform: none;
}

@keyframes bannerFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  40% {
    opacity: 1;
    visibility: visible;
  }
  85% {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .textlogo {
    top: 0.5em;
  }

  .socialmedia {
    background-color: transparent;
    position: initial;
    right: 0;
    width: 100%;
    bottom: inherit;
  }

  .home-slider-height {
    min-height: 45em;
    display: flex;
    flex-wrap: wrap;
  }

  #carousel-fade {
    display: flex;
  }

  .slider-caption {
    top: 0em;
    position: relative;
    transform: translateY(0);
    padding: 0 15px;
    z-index: 4;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(1) {
    background-image: url(https://static.aesseal.com/photo/wavehead/Helipad-si-56363854-sq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    padding-top: 3em;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatmobile/pillar-env-soc-gov.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    background-position: center;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatmobile/pillar-adv-techhnology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    background-position: 65%;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(4) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatmobile/pillar-customer-service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    background-position: 40%;
    padding-top: 3em;
  }

  .sustain-nav {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
  }

  #arrowNav {
    display: none;
  }
}

@media screen and (min-width:501px) and (max-width: 767px) {
  .preface-flex-margin {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transform-origin: none;
    margin-bottom: 0;
  }
}

@media screen and (max-width:500px) {
  .preface-flex-margin {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transform-origin: none;
    margin-bottom: 0;
  }
}
  
  /* sm */
@media screen and (min-width: 768px) {
  .textlogo {
    top: 0;
  }

  .preface-flex-margin {
    margin: 2em 0 0 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.95em 0.95em;
  }

  .socialmedia ul {
    top: 15%;
    height: 100%;
  }

  .home-slider-height {
    min-height: 42em;
    display: flex;
  }

  #carousel-fade {
    display: flex;
  }

  .slider-caption {
    top: 8vh;
    position: relative;
    transform: translateY(0%);
    z-index: 4;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(1) {
    background-image: url(https://static.aesseal.com/photo/wavehead/Helipad-si-56363854.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformattablet/pillar-envsoc-gov.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    background-position: center;
    animation: none;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformattablet/pillar-adv-techhnology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    background-position: bottom right;
    animation: none;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(4) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformattablet/pillar-customer-service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    background-position: center;
    animation: none;
    padding-top: 3em;
  }

  .controls li {
    width: 3em;
    height: 3em;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 30%);
    border: 1px solid #e5e5e7;
  }

  .media-carousel-block {
    bottom: 0;
    margin-top: -1em;
  }

  .media-carousel-block .item div {
    min-height: auto;
  }

  .carousel-col-placement {
    position: relative;
    bottom: 3.9em;
  }

  .sustain-nav li a {
    padding: 0;
  }

  .sustain-nav {
    overflow-x: initial;
    overflow-y: initial;
    display: flex;
  }

  #arrowNav {
    display: none;
  }
}
  
  /* md */
@media screen and (min-width: 992px) {
  .textlogo {
    top: 0em;
  }

  .menu--main.navbar-nav {
    width: 100%;
  }

  .bg-white .navbar-collapse {
    padding-left: 6rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.95em 1.1em;
  }

  .preface-flex-margin {
    margin: -4.3em 0 0 0;
  }

  .home-slider-height {
    min-height: 55em;
  }

  .slider-caption {
    top: 13vh;
    position: relative;
    transform: translateY(24%);
    z-index: 4;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(1) {
    background-image: url(https://static.aesseal.com/photo/wavehead/Helipad-si-56363854.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #012e58;
    background-blend-mode: unset;
    animation: none;
    padding-top: 3em;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatfull/pillar-envsoc-gov.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #012e58;
    background-blend-mode: unset;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(3) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatfull/pillar-adv-techhnology.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #012e58;
    background-blend-mode: unset;
  }

  #carousel-fade .carousel-inner .carousel-item:nth-child(4) {
    background-image: url(https://static.aesseal.com/photo/wavehead/wideformatfull/pillar-customer-service.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #012e58;
    background-blend-mode: unset;
  }

  .carousel-col-placement {
    position: relative;
    bottom: 8em;
  }
}
  
  /* lg */
@media screen and (min-width: 1200px) {
  .textlogo {
    top: 0;
  }

  .slider-caption {
    top: 14vh;
    position: relative;
    transform: translateY(28%);
    z-index: 4;
  }

  .bg-white .navbar-collapse {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .fixed-top {
    background: transparent;
    border: none;
  }
  
    /*To stop a while backround appearing behind the action-menu*/
  .wavelogo img {
    display: none;
  }
  
  .wavelogo {
    display: none;
  }
  
  .uppercurve {
    display: none;
  }

}

@media (min-aspect-ratio: 8/5) {
  .aspect-ratio-padding {
    padding-bottom: 62.5%;
  }

  .aspect-ratio-padding-even {
    padding-top: 31.25%;
    padding-bottom: 31.25%;
  }
}

@media (min-aspect-ratio: 3/2) {
  .aspect-ratio-padding {
    padding-bottom: 66.66%;
  }

  .aspect-ratio-padding-even {
    padding-top: 33.33%;
    padding-bottom: 33.33%;
  }
}

@media (min-aspect-ratio: 4/3) {
  .aspect-ratio-padding {
    padding-bottom: 75%;
  }

  .aspect-ratio-padding-even {
    padding-top: 32.5%;
    padding-bottom: 32.5%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .aspect-ratio-padding {
    padding-bottom: 56.25%;
  }

  .aspect-ratio-padding-even {
    padding-top: 28.13%;
    padding-bottom: 28.12%;
  }
}

@media (min-aspect-ratio: 97/32) {
  .aspect-ratio-padding {
    padding-bottom: 32.99%
  }
}

/* end custom.scss */
