<div class="card shadow-sm rounded-bottom-5 h-100 overflow-hidden">
    <div class="card-img-top rounded-top border-bottom">
        {{ image }}
    </div>
    <div class="card-header">
        {{ heading }}
    </div>
    <div class="card-body">
        {{ body }}
    </div>
    <div class="card-footer">
        {{ footer }}
    </div>
</div>