/* Error: expected ")".
 *     ,
 * 685 |   7: 2rem,
 *     |    ^
 *     '
 *   scss/bootstrap/scss/_variables.scss 685:4  @import
 *   scss/_configuration-import.scss 14:9       @import
 *   scss/styles.scss 1:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 685 \2502    7: 2rem,\a     \2502     ^\a     \2575 \a   scss/bootstrap/scss/_variables.scss 685:4  @import\a   scss/_configuration-import.scss 14:9       @import\a   scss/styles.scss 1:9                       root stylesheet';
}
