/* Error: Undefined variable.
 *     ,
 * 221 |     --#{$prefix}modal-width: #{$modal-xxxl};
 *     |                                ^^^^^^^^^^^
 *     '
 *   scss/bootstrap/scss/_modal.scss 221:32             @content
 *   scss/bootstrap/scss/mixins/_breakpoints.scss 65:7  media-breakpoint-up()
 *   scss/bootstrap/scss/_modal.scss 219:1              @import
 *   scss/_bootstrap.scss 28:9                          @import
 *   scss/styles.scss 27:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 221 \2502      --#{$prefix}modal-width: #{$modal-xxxl};\a     \2502                                 ^^^^^^^^^^^\a     \2575 \a   scss/bootstrap/scss/_modal.scss 221:32             @content\a   scss/bootstrap/scss/mixins/_breakpoints.scss 65:7  media-breakpoint-up()\a   scss/bootstrap/scss/_modal.scss 219:1              @import\a   scss/_bootstrap.scss 28:9                          @import\a   scss/styles.scss 27:9                              root stylesheet";
}
